body {
 font-size: 75%;
 font-family: courier, monospace;
}

img {
 border: 0px;
 padding-right: 5px;
 margin-right: 5px;
 padding: 0px;
 vertical-align: middle;
}

h2 {
 font-size: 100%;
 font-weight: normal;
 text-decoration: underline;
}

a, a:link, a:visited, a:active, a:hover {
 text-decoration: none;
 color: #333;
}

/* f/n */

div.menu {
 color: #333;
 text-align: center;
 padding-left: 5px;
 margin-left: 5px;
 padding-bottom: 15px;
 margin-bottom: 15px;
} 

div.photo {
 height: 500px;
 text-align: center;
 padding-bottom: 15px;
 margin-bottom: 15px;
} 

div.index {
 text-align: center;
 color: #ddd;
}

div.index a {
 text-decoration: none;
 color: #ddd;
}

span.area {
 color: #999;
}

/* f/txt */

div.text {
 text-align: center;
}


/* f/a */

div.node-a {
 clear: both;
 padding: 5px 0px 0px 5px;
 margin: 5px 0px 0px 5px;
 border-style: dotted;
 border-color: #aaa;
 border-width: 1px 0px 0px 0px;
}

div.image-a {
 float: left;
}

div.text-a {
 text-align: left;
}
