/* @ */
@media screen {
    body {margin: 4em auto} /* center: horizontal */
    div.menu {margin: 0 1em 2.5em 3em;}
    div.menu {float: left}
}
@media all and (max-width: 800px) {
    body {margin: 0.5em}
    div.menu {margin: 0}
    div.menu {float: none}
    div.menu ul {margin:0}
}

/* plain */
html {}
body {font-family: "Courier New",monospace}
body {font-size: 8pt}
body {color: black}
body {line-height: 1.15em}
h1 {font-size: 1.0em}
h1 {font-weight: normal}
h1 {text-decoration: none}
ul {padding-left: 0}
ul {margin: 0 0 2em 0}
ul li {list-style-type: none}
ul li{margin: 0.35em 0}
a,a:visited {color: black}
a:hover {color: #555}
code {font-family: "Courier New",monospace}
img {max-width: 100%}
img:hover {cursor: default}
hr {display: none}

/* class */
div.menu {background-color: transparent}
div.menu a {text-decoration: none}
div.about, div.content {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 55em;
    text-align: left;
    background-color: transparent;
}
div.content {padding-left: 50px}
div.cycle-slideshow {text-align: center}
div.jeremy_drape {font-family: "Helvetica",sans-serif}
div.jeremy_drape {font-weight: bold}
div.jeremy_drape {margin: 0 0 3em 0}