/* @ */
@media screen {body {margin: 4em}}
@media all and (max-width: 800px) {body {margin: 1em}}

/* plain */
html {}
body {font-family: "Courier New",monospace}
body {font-size: 9pt}
body {line-height: 1.15em}
body {max-width: 55em}
h1 {font-size: 1.0em}
h1 {font-weight: normal}
h1 {text-decoration: underline}
ul {padding-left: 0}
ul li {list-style-type: none}
a,a:visited {color: black}
code {font-family: "Courier New",monospace}

div.ix {display: inline}
div.ix {padding-right: 1em}