/* @ */
@media screen {
    body {margin: 4em auto} /* center: horizontal */
    div.menu {float: left; margin: 0 1em 2.5em 3em;}
}
@media all and (max-width: 800px) {
    body {margin: 0.5em}
    div.menu {float: none; margin: 0}
    div.menu ul {margin:0}
}

/* plain */
html {}
body {font-family: "Times",monospace}
body {font-size: 10pt}
body {color: black}
body {line-height: 1.15em}
h1 {font-size: 1.0em}
h1 {font-weight: normal}
h1 {text-decoration: underline}
ul {padding-left: 0}
ul li {list-style-type: none}
a,a:visited {color: black}
a:hover {color: #555}
code {font-family: "Times",monospace}
img {max-width: 100%}

/* class */
div.menu {background-color: transparent}
div.about, div.content {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 55em;
    text-align: left;
    background-color: transparent;
}
div.title {margin-top: 2em;color: #fff}
div.cycle-slideshow {text-align: center}
