/* @ */
@media screen {
    body {margin: 4em auto} /* center: horizontal */
    div.menu {margin: 0 1em 2.5em 3em;}
    div.menu {float: left}
}
@media all and (max-width: 800px) {
    body {margin: 0.5em}
    div.menu {margin: 0}
    div.menu {float: none}
    div.menu ul {margin:0}
}

/* plain */
html {}
body {font-family: "Courier New",monospace}
body {font-size: 8pt}
body {color: black}
body {line-height: 1.15em}
h1 {font-size: 1.0em}
h1 {font-weight: normal}
h1 {text-decoration: none}
ul {padding-left: 0}
ul {margin: 0 0 2em 0}
ul li {list-style-type: none}
ul li{margin: 0.35em 0}
a,a:visited {color: black}
a:hover {color: #555}
code {font-family: "Courier New",monospace}
img {max-width: 100%}
img:hover {cursor: default}
hr {display: none}

/* class */
div.menu {background-color: transparent}
div.menu a {text-decoration: none}
div.about, div.content {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 55em;
    text-align: left;
    background-color: transparent;
}
div.content {padding-left: 50px}
div.cycle-slideshow {text-align: center}
div.jeremy_drape {font-family: "Helvetica",sans-serif}
div.jeremy_drape {font-weight: bold}
div.jeremy_drape {margin: 0 0 3em 0}

/* classes / columns */

div.meta_ix {
    max-width: 1200px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-width: 400px;
       -moz-column-width: 400px;
            column-width: 400px;
}

/* AUTOGENERATED: hs/gen.hs */
div.img_0000 {padding: 47px 73px 45px 79px}
div.img_0001 {padding: 72px 90px 67px 26px}
div.img_0002 {padding: 67px 6px 45px 26px}
div.img_0003 {padding: 100px 41px 68px 33px}
div.img_0004 {padding: 78px 81px 70px 67px}
div.img_0005 {padding: 34px 1px 94px 43px}
div.img_0006 {padding: 1px 19px 95px 46px}
div.img_0007 {padding: 17px 79px 61px 54px}
div.img_0008 {padding: 10px 83px 11px 60px}
div.img_0009 {padding: 8px 16px 20px 87px}
div.img_0010 {padding: 44px 97px 81px 90px}
div.img_0011 {padding: 17px 8px 93px 22px}
div.img_0012 {padding: 54px 43px 61px 48px}
div.img_0013 {padding: 38px 75px 100px 21px}
div.img_0014 {padding: 91px 98px 23px 58px}
div.img_0015 {padding: 48px 76px 69px 31px}
div.img_0016 {padding: 8px 1px 58px 80px}
div.img_0017 {padding: 12px 39px 83px 75px}
div.img_0018 {padding: 55px 68px 54px 38px}
div.img_0019 {padding: 25px 12px 60px 85px}
div.img_0020 {padding: 41px 25px 6px 95px}
div.img_0021 {padding: 80px 100px 48px 97px}
div.img_0022 {padding: 81px 75px 2px 92px}
div.img_0023 {padding: 82px 13px 13px 91px}
div.img_0024 {padding: 6px 22px 36px 9px}
div.img_0025 {padding: 48px 70px 38px 85px}
div.img_0026 {padding: 78px 17px 5px 60px}
div.img_0027 {padding: 66px 10px 88px 74px}
div.img_0028 {padding: 75px 42px 96px 4px}
div.img_0029 {padding: 99px 39px 32px 67px}
div.img_0030 {padding: 24px 32px 85px 25px}
div.img_0031 {padding: 59px 37px 19px 91px}
div.img_0032 {padding: 45px 16px 1px 76px}
div.img_0033 {padding: 11px 32px 36px 65px}
div.img_0034 {padding: 37px 80px 69px 99px}
div.img_0035 {padding: 87px 68px 12px 4px}
div.img_0036 {padding: 70px 36px 78px 51px}
div.img_0037 {padding: 32px 45px 11px 22px}
div.img_0038 {padding: 13px 59px 93px 63px}
div.img_0039 {padding: 58px 50px 23px 83px}
div.img_0040 {padding: 13px 21px 9px 33px}
div.img_0041 {padding: 0px 38px 38px 15px}
div.img_0042 {padding: 73px 55px 53px 77px}
div.img_0043 {padding: 34px 6px 46px 51px}
div.img_0044 {padding: 34px 16px 50px 16px}
div.img_0045 {padding: 52px 9px 31px 45px}
div.img_0046 {padding: 20px 22px 53px 42px}
div.img_0047 {padding: 28px 55px 99px 57px}
div.img_0048 {padding: 64px 91px 51px 71px}
div.img_0049 {padding: 82px 9px 77px 15px}
div.img_0050 {padding: 45px 18px 91px 85px}
div.img_0051 {padding: 47px 43px 25px 15px}
div.img_0052 {padding: 32px 66px 59px 94px}
div.img_0053 {padding: 75px 59px 57px 88px}
div.img_0054 {padding: 96px 14px 53px 19px}
div.img_0055 {padding: 28px 34px 56px 95px}
div.img_0056 {padding: 23px 9px 80px 56px}
div.img_0057 {padding: 96px 96px 6px 9px}
div.img_0058 {padding: 60px 92px 78px 12px}
div.img_0059 {padding: 85px 46px 63px 35px}
div.img_0060 {padding: 9px 53px 69px 72px}
div.img_0061 {padding: 31px 11px 13px 47px}
div.img_0062 {padding: 43px 32px 36px 23px}
div.img_0063 {padding: 1px 92px 94px 15px}
div.img_0064 {padding: 35px 93px 82px 87px}
div.img_0065 {padding: 14px 57px 82px 11px}
div.img_0066 {padding: 93px 26px 63px 5px}
div.img_0067 {padding: 68px 11px 8px 80px}
div.img_0068 {padding: 27px 78px 46px 45px}
div.img_0069 {padding: 76px 63px 16px 76px}
div.img_0070 {padding: 66px 54px 35px 39px}
div.img_0071 {padding: 59px 5px 46px 96px}
div.img_0072 {padding: 47px 85px 85px 85px}
div.img_0073 {padding: 52px 11px 15px 91px}
div.img_0074 {padding: 67px 54px 83px 91px}
div.img_0075 {padding: 25px 36px 54px 66px}
div.img_0076 {padding: 92px 52px 21px 77px}
div.img_0077 {padding: 91px 78px 85px 4px}
div.img_0078 {padding: 28px 26px 69px 0px}
div.img_0079 {padding: 92px 87px 55px 11px}
div.img_0080 {padding: 77px 21px 78px 99px}
div.img_0081 {padding: 18px 37px 100px 73px}
div.img_0082 {padding: 0px 21px 70px 57px}
div.img_0083 {padding: 0px 100px 2px 55px}
div.img_0084 {padding: 52px 69px 78px 9px}
div.img_0085 {padding: 51px 64px 40px 10px}
div.img_0086 {padding: 97px 96px 52px 90px}
div.img_0087 {padding: 55px 75px 59px 39px}
div.img_0088 {padding: 16px 100px 56px 100px}
div.img_0089 {padding: 2px 81px 27px 11px}
div.img_0090 {padding: 38px 38px 17px 67px}
div.img_0091 {padding: 10px 45px 72px 100px}
div.img_0092 {padding: 6px 47px 54px 88px}
div.img_0093 {padding: 47px 34px 53px 26px}
div.img_0094 {padding: 62px 85px 36px 93px}
div.img_0095 {padding: 98px 49px 54px 45px}
div.img_0096 {padding: 50px 34px 98px 31px}
div.img_0097 {padding: 28px 79px 90px 98px}
div.img_0098 {padding: 19px 43px 54px 72px}
div.img_0099 {padding: 81px 83px 23px 91px}
div.img_0100 {padding: 1px 52px 70px 33px}
div.img_0101 {padding: 62px 23px 11px 20px}
div.img_0102 {padding: 34px 67px 97px 93px}
div.img_0103 {padding: 95px 11px 52px 89px}
div.img_0104 {padding: 9px 71px 23px 20px}
div.img_0105 {padding: 60px 57px 47px 20px}
div.img_0106 {padding: 57px 74px 36px 83px}
div.img_0107 {padding: 73px 62px 14px 41px}
div.img_0108 {padding: 56px 73px 32px 8px}
div.img_0109 {padding: 53px 45px 73px 100px}
div.img_0110 {padding: 36px 82px 16px 33px}
div.img_0111 {padding: 31px 88px 86px 60px}
div.img_0112 {padding: 100px 81px 37px 93px}
div.img_0113 {padding: 8px 55px 10px 51px}
div.img_0114 {padding: 54px 14px 7px 100px}
div.img_0115 {padding: 85px 77px 61px 71px}
div.img_0116 {padding: 97px 49px 60px 77px}
div.img_0117 {padding: 5px 60px 80px 20px}
div.img_0118 {padding: 3px 76px 9px 47px}
div.img_0119 {padding: 83px 89px 62px 37px}
div.img_0120 {padding: 17px 37px 46px 91px}
div.img_0121 {padding: 79px 43px 85px 75px}
div.img_0122 {padding: 61px 70px 86px 43px}
div.img_0123 {padding: 61px 0px 94px 29px}
div.img_0124 {padding: 63px 2px 14px 2px}
div.img_0125 {padding: 11px 3px 39px 58px}
div.img_0126 {padding: 67px 63px 93px 82px}
div.img_0127 {padding: 67px 16px 3px 85px}
div.img_0128 {padding: 45px 91px 88px 15px}
div.img_0129 {padding: 35px 8px 61px 99px}
div.img_0130 {padding: 75px 13px 23px 84px}
div.img_0131 {padding: 13px 61px 18px 20px}
div.img_0132 {padding: 77px 4px 36px 45px}
div.img_0133 {padding: 30px 84px 80px 16px}
div.img_0134 {padding: 38px 66px 46px 79px}
div.img_0135 {padding: 46px 17px 44px 46px}
div.img_0136 {padding: 31px 64px 94px 98px}
div.img_0137 {padding: 16px 15px 59px 58px}
div.img_0138 {padding: 65px 36px 61px 73px}
div.img_0139 {padding: 9px 26px 25px 78px}
div.img_0140 {padding: 36px 87px 49px 42px}
div.img_0141 {padding: 39px 76px 6px 37px}
div.img_0142 {padding: 28px 88px 17px 55px}
div.img_0143 {padding: 82px 33px 60px 36px}
div.img_0144 {padding: 69px 88px 70px 4px}
div.img_0145 {padding: 71px 66px 39px 29px}
div.img_0146 {padding: 82px 94px 100px 56px}
div.img_0147 {padding: 96px 27px 36px 14px}
div.img_0148 {padding: 59px 31px 40px 30px}
div.img_0149 {padding: 13px 66px 8px 26px}
div.img_0150 {padding: 28px 66px 5px 99px}
div.img_0151 {padding: 15px 84px 9px 13px}
div.img_0152 {padding: 68px 92px 35px 18px}
div.img_0153 {padding: 0px 34px 100px 60px}
div.img_0154 {padding: 88px 53px 92px 7px}
div.img_0155 {padding: 61px 86px 92px 16px}
div.img_0156 {padding: 23px 7px 46px 19px}
div.img_0157 {padding: 78px 12px 54px 99px}
div.img_0158 {padding: 63px 74px 83px 81px}
div.img_0159 {padding: 5px 10px 99px 23px}
div.img_0160 {padding: 86px 47px 3px 25px}
div.img_0161 {padding: 85px 16px 13px 100px}
div.img_0162 {padding: 24px 36px 95px 53px}
div.img_0163 {padding: 1px 91px 43px 31px}
div.img_0164 {padding: 58px 39px 32px 100px}
div.img_0165 {padding: 41px 30px 35px 62px}
div.img_0166 {padding: 18px 30px 76px 69px}
div.img_0167 {padding: 57px 32px 68px 12px}
div.img_0168 {padding: 36px 58px 73px 50px}
div.img_0169 {padding: 92px 72px 94px 74px}
div.img_0170 {padding: 19px 14px 13px 89px}
div.img_0171 {padding: 20px 86px 91px 60px}
div.img_0172 {padding: 82px 18px 83px 25px}
div.img_0173 {padding: 64px 85px 24px 92px}
div.img_0174 {padding: 28px 38px 76px 13px}
div.img_0175 {padding: 76px 87px 78px 25px}
div.img_0176 {padding: 18px 69px 41px 47px}
div.img_0177 {padding: 15px 79px 76px 57px}
div.img_0178 {padding: 23px 20px 100px 75px}
div.img_0179 {padding: 69px 26px 91px 8px}
div.img_0180 {padding: 16px 56px 59px 54px}
div.img_0181 {padding: 74px 59px 98px 98px}
div.img_0182 {padding: 82px 36px 17px 67px}
div.img_0183 {padding: 99px 100px 33px 1px}
div.img_0184 {padding: 34px 2px 93px 76px}
div.img_0185 {padding: 48px 79px 66px 16px}
div.img_0186 {padding: 29px 71px 61px 21px}
div.img_0187 {padding: 17px 36px 72px 87px}
div.img_0188 {padding: 58px 78px 68px 14px}
div.img_0189 {padding: 20px 4px 96px 16px}
div.img_0190 {padding: 1px 74px 82px 19px}
div.img_0191 {padding: 66px 59px 85px 43px}
div.img_0192 {padding: 20px 54px 22px 79px}
div.img_0193 {padding: 93px 54px 6px 72px}
div.img_0194 {padding: 100px 99px 41px 23px}
div.img_0195 {padding: 8px 52px 34px 41px}
div.img_0196 {padding: 92px 77px 97px 84px}
div.img_0197 {padding: 23px 20px 59px 78px}
div.img_0198 {padding: 60px 11px 74px 50px}
div.img_0199 {padding: 10px 34px 45px 80px}
div.img_0200 {padding: 80px 51px 78px 19px}
