body {
 font-size: 68%;
 font-family: courier, monospace;
}

img {
 border: 0px;
 padding-right: 5px;
 margin-right: 5px;
 padding: 0px;
}

a {
 text-decoration: none;
 color: #666;
}

/* f/n */

div.menu {
 color: #666;
 text-align: center;
 padding-left: 5px;
 margin-left: 5px;
 padding-bottom: 15px;
 margin-bottom: 15px;
} 

div.photo {
 text-align: center;
 padding-bottom: 15px;
 margin-bottom: 15px;
} 

div.index {
 text-align: center;
}

div.index a {
 text-decoration: none;
}

/* f/a */

div.node {
 clear: both;
 padding-left: 5px;
 margin-left: 5px;
}

div.image {
 float: left;
}

div.text {
 text-align: center;
}
