/*************** box model *************\

                   box
 +---------------------------------------+
 |+-------------------------------------+| 
 ||             header                  ||
 |+-------------------------------------+|
 |+-------++----------------------------+|
 ||       ||                            ||
 ||   l   ||                            ||
 ||   e   ||         right              ||
 ||   f   ||                            ||
 ||   t   ||                            ||
 ||       ||                            ||
 |+-------++----------------------------+|
 |+-------------------------------------+| 
 ||             footer                  ||
 |+-------------------------------------+|
 +---------------------------------------+

\***************************************/

div.box {
 margin: 0px;
 padding: 0px;
}

div.header {
 height: 25px;
 margin-left: 10px;
 margin-top: 10px;
 background-color: #fff;
}

div.left {
 float: left;
 width: 15%;
 text-align: right;
 background-color: #fff;
}

div.right {
 float: left;
 width: 80%;
 background-color: #fff;
 text-align: left;
 margin-left: 15px;
}

div.footer {
 clear: both;
 height: 20px;
}

/*************** elements *************/

html {
} 

body {
 color: #000;
 background-color: #fff;
 font-family: Didot, serif;
 font-size: 68%;
 margin: 0px;
 padding: 0px;
}

p {
 padding: 0px;
}

h1 {
}

h2 {
}

a, a:visited {
 color: #000;
 text-decoration: none;
}

a:hover, a:active {
 color: #000;
}

img {
 border: 0px;
 padding: 0px;
 margin: 0px;
}

/*************** classes *************/

body.front {
 font-size: 200%;
 text-align: center;
 color: #000;
}

body.front p {
 margin: 320px 0px 0px 20px;
}

img.photo {
 float: none;
}

p.copyright {
 display: none;
}

p.name {
 font-size: 150%;
 padding-top: 0px;
 margin-top: 0px;
 padding-bottom: 30px;
}

p.menu {
 padding-top: 60px;
 margin-top: 0px;
}

p.menu a, p.menu a:visited {
  color: #999;
}

p.genera {
 padding-top: 50px;
 margin-top: 0px;
}

p.genera a, p.genera a:visited {
 color: #999;
}

p.stepper {
 padding-top: 60px;
 margin-top: 0px;
}

p.stepper a, p.stepper a:visited {
 color: #ccc;
}

p.validators {
 padding-top: 90px;
 margin-top: 0px;
}

p.validators a, p.validators a:visited {
 color: #eee;
}

div.about {
 margin: 25px;
 padding: 25px;
}

p.contact {
 margin: 75px 25px;
 padding: 75px 25px;
}

