/**
* CSS
* 
* @version 1.0
* @author Vaska 
* @author Gregory Cadar
*/

@font-face {
 font-family: 'HelveticaLTStdRoman';
 src: url('fonts/helveticaltstd-roman-webfont.eot');
 src: url('fonts/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/helveticaltstd-roman-webfont.woff') format('woff'),
      url('fonts/helveticaltstd-roman-webfont.ttf') format('truetype'),
      url('fonts/helveticaltstd-roman-webfont.svg#HelveticaLTStdRoman') format('svg');
 font-weight: normal;
 font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
	font-family: Verdana, sans-serif;
	background: #fff;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

a:link { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: underline; }

a img { border: none; }

#menu {
    width: 215px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 0;
    position: fixed;
    height: 100%;
	background-color: #fff;
}

#menu ul {
	list-style: none;
	margin: 0 0 12px 0;
}

#menu ul li.section-title { }

#content {
    height: 100%;
    margin: 0 0 0 215px;
    top: 0;
}

.container {
    padding: 5px 5px 25px 5px;
}

#content p { width: 400px; margin-bottom: 9px; }

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

#img-container	{ margin: 0; padding: 0; }
#img-container p	{ width: 400px; margin: 0; padding: 0 0 12px 0; }

#once { clear: left; }

/* jrd */
body {font-family: 'HelveticaLTStdRoman',Verdana, sans-serif;}
body.section-1 {color:#000000;}
body.section-2 {color:#000000;}
body.section-3 {color:#000000;}
a:link {text-decoration: none; color:#000000;}
a:active {text-decoration: none; color:#000000;}
a:visited {text-decoration: none; color:#000000;}
a:hover {text-decoration: underline; color:#000000;}
.jdtitle{font-size: 12px;}
a.jdemail{color:#FB89F6;}
#menu {left: 50px;}
#content {margin: 0 0 0 255px;top: 50px;}
.container {padding: 55px 5px 25px 5px;}
p {margin: 0 0 10px 0;}
.nav #prev {margin-left:5px;}
#s1{margin-top:22px;}
#s1 div {width: 100%; margin-top:}
#s1 div img {margin: 0 auto; text-align:center; cursor: pointer;}
#s1 div p {margin: 10px auto; text-align:center;}
